<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link href="static/SqScore.css" rel="stylesheet" media="screen"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='SqScore.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>

</style> 
</head>
<body class="login-page">
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
    </footer>
    <script>
        $(function () {
            $('#loginForm').on('submit', function (e) {
                e.preventDefault();
                let formData = $(this).serialize();
                $.post('/login', formData, function (data) {
                    if (data.success) {
                        window.location.href = data.redirect;
                    } else {
                        $('#errorMsg').fadeIn();
                    }
                });
            });
        });
    </script>
    </body>
</html>